Flask
gunicorn                 # <--- ТОЗИ ПАКЕТ Е НУЖЕН ЗА ДЕПЛОЙ НА RENDER
requests
google-auth              # <--- ТОЗИ ПАКЕТ Е НУЖЕН ЗА АВТЕНТИКАЦИЯ
google-cloud-dialogflow-cx # <-- ВАЖНО: Уверете се, че тази библиотека е там!
Flask-SQLAlchemy
psycopg2-binary          # <--- ТОЗИ ПАКЕТ Е НУЖЕН ЗА POSTGRESQL В RENDER